.slider-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  max-height: 400px;
  width: 100%;
}

.slider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  z-index: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 1;
}

/* SLIDE OUT */
.slide-out-right {
  transform: translateX(100%);
  opacity: 0;
}

.slide-out-left {
  transform: translateX(-100%);
  opacity: 0;
}

/* SLIDE IN */
.slide-in-left {
  transform: translateX(-100%);
  animation: slideInFromLeft 0.5s forwards;
}

@keyframes slideInFromLeft {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  transform: translateX(100%);
  animation: slideInFromRight 0.5s forwards;
}

@keyframes slideInFromRight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
