main {
  margin-left: 300px; /* larghezza sidebar normale */
  transition: margin-left 0.3s ease;
  padding: 20px;
}

main.expanded {
  margin-left: 60px; /* larghezza sidebar ridotta */
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  /* padding: 20px;  --> spostato nel main */
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card-image:hover {
  transform: scale(1.05);
}
