.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-track {
  display: flex;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-arrow {
  display: block;
}
.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.slick-prev {
  left: 10px;
}
.slick-next {
  right: 10px;
}
