.sidebar {
  width: 220px;
  background-color: #f4f4f4;
  padding: 1rem;
  position: sticky;
  top: 0;
  height: fit-content; /* importante per sticky */
  align-self: flex-start;
}

.chapter {
  margin-bottom: 2rem;
}

.chapter h2 {
  font-size: 1.5rem;
}
